{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "flowtype",
    "react",
    "jest",
    "prettier",
    "jsx-a11y"
  ],
  "rules": {
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "tabWidth": 4,
      "printWidth": 80
    }],
    // Prefer destructuring from arrays and objects
    // http://eslint.org/docs/rules/prefer-destructuring
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
  },
  "settings": {
    "react": {
      "version": "16.4.2"
    },
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "extensions": [
              ".js",
              ".jsx"
            ]
          }
        }
      }
    }
  },
  "env": {
    "jest/globals": true,
    "browser": true
  }
}